name: Autorerun

on:
  workflow_run:
    workflows: ['Publish']
    types: completed
  schedule:
    - cron: '0 0 * * *'

jobs:
  rerun:
    runs-on: ubuntu-latest
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.42.2
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.ACTIONS_GITHUB_TOKEN }}"]'
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: '${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}'
          OTEL_EXPORTER_OTLP_HEADERS: '${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}'
      - uses: plengauer/autorerun@v0.37.0
        with:
          github_token: ${{ secrets.ACTIONS_GITHUB_TOKEN }} # token for GITHUB to retrigger, needs permissions to run GitHub Actions
    permissions:
      actions: read
